.back-button {
    padding: 4px 12px 4px 12px;
    color: whitesmoke;
    background-color: dodgerblue;
    border: none;
    border-radius: 4px;
  }

.movie-images {
  margin-bottom: 15px;
  }

.figure {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  img {
    height: 700px;
    width: 400px;
  }
}